.container {
	display: flex;
	flex-flow: row wrap;
	max-width: 400px;
	width: 100%;
	padding: 10px 0;
	margin: 0 auto;

	@include tablet {
		max-width: 620px;
	}

	@include desktop {
		max-width: 930px;
	}
}