.card {
	width: 300px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
	background-color: $white;
	
	&:hover {
		box-shadow: 4px 5px $shadow;
	}

	&__image-container {
		width: 100%;
		height: 169px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px; 
	}	

	&__content {
		padding: 10px;
		height: 95px;
		position: relative;

		&--title, &--timestamp {
			margin: 0;
		}

		&--title {
			color: $black;
			font-size: 20px;
			margin-bottom: 20px;
		}

		&--timestamp {
			font-size: 14px;
			color: $timestamp;
			position: absolute;
			bottom: 10px;
		}
	}

	&--link {
		margin: 0 auto;

		@include tablet {
			margin: 0;
		}
	}
}