.content {
	background-color: $white;
	width: 100%;
	padding: 15px;
	margin: 10px;
}

.ingredients {
	@include tablet {
		width: 30%;
		height: fit-content;
	}
}

.instructions {
	@include tablet {
		padding-left: 30px;
		width: 51%;
	}

	@include desktop {
		width: 57.5%;
	}
}